*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*#startregion header*/
header{
    background-color: #ff6900;
    height: 60px;
    box-shadow:0 0 8px black;
}

.header{
    display: flex;
    width: 70%;
    margin: auto;
    padding-top: 15px;
}

.header>.logo{
    width: 33%;
    text-align: center;
}

.logo>img{
    width: 40%;
}

.header>.genere{
    width: 33%;
    padding-top: 5px;
}

.genere>span{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    padding:0 8px;
}

.header>.icons{
    width: 33%;
    text-align: end;
    padding-top: 5px;
}

.icons>svg{
    width: 15%;
    color: white;
}
/*#endregion header*/


/*#startregion main*/
main>.conteiner{
    height: 1300px;
    padding: 3rem 0;
    width: 71%;
    margin: auto;
}

.conteiner>.row{
    display: flex;
    height: 50%;
}

.row>.col{
    width: 33%;
    margin: 7px;
}

.img>img{
    width: 100%;
}

.col>.caption{
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
}

.col>.brand{
    color: #535360;
    font-size: 13px;
}

.col>.title{
    color: black;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.col>.price{
    display: inline-block;
    color: red;
    font-size: 12px;
}

.col>.old_price{
    display: inline-block;
    color: black;
    font-size: 11px;
    text-decoration: line-through;
}

.col>.img{
    position: relative;
}

.img:hover{
    
}

.img>.label{
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
    text-align: center;
    padding: 5px;
    color: white;
}

.img>.sales{
    position: absolute;
    left: 0;
    bottom: 10%;
    background-color: red;
}

.img>.sostenibilita{
    position: absolute;
    background-color: green;
    bottom: 10%;
    left: 36px;
}

.img>.heart{
    background-color: white;
    position: absolute;
    top: 2%;
    right: 0;
    color: black;
    font-size: 30px;
    text-align: center;
    padding: 0 10px;
}

.heart:hover{
    color: red;
}

#last_card{
    background-color: green;
    position: absolute;
    left: 0;
    bottom: 10%;
}
/*#endregion main*/


/*#startregion footer*/
footer{
    background-color: #1a1a1a;
    box-shadow: 0 0 5px 0;
}

footer>.conteiner{
    height: 70px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.conteiner>.col{
    width: 50%;
    padding: 10px 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.col>span{
    font-size: x-small;
}

.col>h5{
    margin-bottom: 6px;
    margin-right: 15px;
}

.col>svg{
    margin: 0 3px;
}

.ta-end{
    text-align: end;
}

/*#endregion footer*/




